// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background: rgb(243, 243, 243); 
}

#line2 {
  display: flex;
  background-color: beige;
  font-size: 20px;
}


#line1 {
  font-size: 18px;
}

#button {
  background-color:rgb(62, 135, 253);
  color : white;
}
